﻿<!DOCTYPE html>
<html lang="da">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">

    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css" />
    <title>@ViewBag.page_title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bower_components/moment/min/moment-with-locales.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <link href="~/bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <link href="~/bower_components/angular-ui/build/angular-ui.min.css" rel="stylesheet" />
    <script src="~/bower_components/angular-ui/build/angular-ui.min.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="~/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="~/bower_components/angular-material/angular-material.min.js"></script>
    <script src="~/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="~/bower_components/underscore/underscore-min.js"></script>
    @*<script src="/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>*@
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>

    <link href="~/bower_components/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery-ui/themes/base/theme.css" rel="stylesheet" />



    <link rel="stylesheet" type="text/css" href="~/bower_components/codemirror/lib/codemirror.css">
    <script type="text/javascript" src="~/bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="~/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <link href="~/bower_components/codemirror/theme/midnight.css" rel="stylesheet" />
    <script src="~/bower_components/codemirror/mode/javascript/javascript.js"></script>
    <link href="~/bower_components/codemirror/addon/display/fullscreen.css" rel="stylesheet" />
    <script src="~/bower_components/codemirror/addon/display/fullscreen.js"></script>



    <script src="~/bower_components/jquery-ui/ui/i18n/datepicker-da.js"></script>
    <script src="~/bower_components/jquery-ui/ui/i18n/datepicker-de.js"></script>
    <script src="~/bower_components/jquery-ui/ui/i18n/datepicker-en-GB.js"></script>


    <script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="~/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="~/bower_components/angular-timeago/dist/angular-timeago.min.js"></script>
    <script src="~/bower_components/angular-scroll-glue/src/scrollglue.js"></script>





    <link href="@Fingerprint.Tag("/Styles/main.min.css")" rel="stylesheet" />
    <script src="@Fingerprint.Tag("/Scripts/app.js")"></script>
    <script src="@Fingerprint.Tag("/Scripts/templates.js")"></script>



    <style type="text/css">
        /**
             * Hide when Angular is not yet loaded and initialized
             */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="myApp">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>