﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CSDiverse</title>
    
    
<link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("stylesheets", required: false)


</head>
<body>
    <div class="container top-menu">
        <div class="row">
            <div id="flash-message" style="display: none; "></div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-9" title="@ViewBag.SiteName">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="navbar navbar-default col-md-12 ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Index", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">

                   
                    <ul class="nav navbar-nav">

                        <li>
                            

                            <li>@Html.ActionLink("OnlineBookingSettings", "Index", "OnlineBooking")</li>
                        

                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Download Excel Rapporter", "Excel", "Home")</li>
                            <li>@Html.ActionLink("Omsætningsrapport", "Index", "SalesReport")</li>
                        }

                    </ul>
                    


                </div>
            </div>
        </div>
    </div>

    <div class="container body-content" ng-app="myApp">
        @RenderBody()
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <footer>
                <p>
                    <img src="../Images/cslogo.jpg" style="position: relative; height: 40px;top:0;left:0;margin:20px 0;" class="logo" />
                    &copy; @DateTime.Now.Year - CompuSoft A/S
                </p>
            </footer>
        </div>
    </div>


    
    @RenderSection("scripts", required: false)
</body>
</html>