﻿ 
<div id="toast_div"></div>


  
<div layout-fill layout="row">
    
    <md-sidenav class="md-whiteframe-4dp " md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" layout-padding ng-include="'/Content/angular/admin/_admin_menu.html'" >

    </md-sidenav>

    <md-content ng-cloak layout-padding layout-margin flex>

        <h1>Administration</h1>

        {{ctrl.portal.Name}}


        <ol ng-hide="true">

            <li>
                <a href="http://bitoftech.net/2014/06/09/angularjs-token-authentication-using-asp-net-web-api-2-owin-asp-net-identity/">
                    AngularJS Token Authentication using ASP.NET Web API 2, Owin, and Identity
                </a>/
            </li>

            <li>
                <a href="http://bitoftech.net/2015/03/11/asp-net-identity-2-1-roles-based-authorization-authentication-asp-net-web-api">
                    ASP.NET Identity 2.1 Roles Based Authorization with ASP.NET Web API – Part 4
                </a>/
            </li>
        </ol>



    </md-content>
</div>
