﻿<div style="position: absolute; top: 16px;left:4px; z-index: 1000;">
    <div layout="row" layout-align="end center" layout-fill layout-wrap style="width:288px;">
        <div flex>
            <a href="/"><img src="/Images/cslogo.jpg" class="cs_logo" /></a>
        </div>
        <div flex></div>
        <div ng-include="'/Content/angular/menu/_menu.html'"></div>
    </div>
</div>

<div ng-controller="AdminMenuController as ctrl" style="margin-top: 100px;">


    <md-input-container>
        <label>Vælg portal</label>
        <md-select ng-model="ctrl.selected_portal" ng-change="ctrl.change_portal()">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="portal in ctrl.portals" ng-value="portal">
                {{portal.Name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-menu-content layout="column" layout-padding flex class="left_sidenav" id="west_side" style="width: 280px !important;">
        


        <h3>Admin</h3>
        <md-button ng-repeat="m in ctrl.admin_menu_items" aria-label="m.name" ng-href="{{m.url}}" style="font-size:10px;" ng-class="ctrl.getClass(m.url)" layout-align="start center" layout="row" ng-disabled="m.disabled()">
            <md-icon style="display:block;position: absolute;" ng-show="m.icon">{{m.icon}}</md-icon>
            <div style="margin-left: 45px;">{{m.name}}</div>
        </md-button>
    </md-menu-content>


</div>
