﻿<md-dialog aria-label="site info" >
  <form ng-cloak name="myForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
    x
        </md-button>
      </div>
    </md-toolbar>



    <md-dialog-content layout-padding ng-cloak>
        <md-progress-linear md-mode="indeterminate" ng-show="ctrl.downloading"></md-progress-linear>
        <md-input-container class="md-icon-float md-block md-icon-right" flex="100">
            <label for="Username">Username:</label>
            <input type="text" ng-model="ctrl.email" placeholder="" autofocus ng-minlength="2" name="email" flex="80" required />
            <i class="material-icons green" style="display:inline-block;" ng-show="myForm.email.$valid">done</i>
        </md-input-container>


        <!--<md-input-container class="md-icon-float md-block md-icon-right" flex="100">
            <label for="company">Selskab:</label>
            

            <md-select ng-model="ctrl.site_id">
                <md-option><em>ingen</em></md-option>
                <md-option ng-repeat="company in ctrl.companies" ng-value="company.Selskabs_id">
                    {{company.Navn}}
                </md-option>
            </md-select>



            <i class="material-icons green" style="display:inline-block;" ng-show="myForm.site_id.$valid">done</i>
        </md-input-container>-->





        <md-input-container class="md-icon-float md-block md-icon-right" ng-hide="ctrl.show_password">
            <label for="password">Password:</label>
            <input type="password" ng-model="ctrl.password" placeholder="" autofocus ng-minlength="6" name="password" flex="80" required />

            <i class="material-icons green" style="display:inline-block;" ng-show="myForm.password.$valid">done</i>
        </md-input-container>

        <md-input-container class="md-icon-float md-block md-icon-right" ng-hide="!ctrl.show_password">
            <label for="password">Password:</label>
            <input type="text" ng-model="ctrl.password" placeholder="" autofocus ng-minlength="6" name="password" flex="80" required autocomplete="off" />
            <i class="material-icons green" style="display:inline-block;" ng-show="myForm.password.$valid">done</i>
        </md-input-container>
        <md-input-container class="md-icon-float md-block md-icon-right">
            <md-checkbox ng-model="ctrl.show_password" aria-label="active?">
                Show password
            </md-checkbox>
        </md-input-container>

        <md-button class="md-small md-accent" ng-click="ctrl.password = ctrl.generate_password(8)">Generate password</md-button>

    </md-dialog-content>

    <md-dialog-actions layout="row">      
      <span flex></span>      
      <md-button ng-click="cancel()">
        Close
      </md-button>
      <md-button class="md-primary md-raised" ng-click="ctrl.save_user()" ng-disabled="!myForm.$valid">Save</md-button>     
    </md-dialog-actions>
       <div data-ng-hide="!ctrl.register_error" class="alert alert-danger" style="max-width:250px;">                
                    <ul>
                        <li ng-repeat="msg in ctrl.register_error">{{msg}}</li>
                    </ul>                     
        </div>
  </form>
               
</md-dialog>