﻿
<div layout="row" ng-cloak layout-fill style="position: relative;" layout-wrap md-whiteframe="3">
    <div style="position: absolute; top: 16px;left:4px; z-index: 1000;" class="west_side">
        <div layout="row">
            
            <md-input-container layout="row" style="margin: 0;font-size: 12px;">
                <md-icon class="material-icons">language</md-icon>
                <md-select ng-model="ctrl.language" class="md-no-underline" ng-change="ctrl.change_language(ctrl.language)">
                    <md-optgroup label="">
                        <md-option ng-value="l.code" ng-repeat="l in ctrl.languages">{{l.language}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <div ng-include="'/Content/angular/menu/_menu.html'"></div>
        </div>
    </div>
    <section layout="row" flex class="" style="margin:100px;">
        <h1>Welcome to CompuferryApi</h1>
      
    </section>
    
    <div class="small_logo" style="position: absolute; left:220px;bottom:10px;">
        <span translate="powered_by"> Powered by </span><br />
        <img src="/Images/cs_small_logo.jpg" />
    </div>
</div>