﻿

<md-content layout-padding flex class="left_sidenav" id="west_side" scroll-glue="ctrl.departures_is_selected">

    <div ng-cloak md-theme="hjejlen">
        <md-content>

            <div class="selected_step" layout="row" layout-align="start center" ng-show="ctrl.is_persons_selected">
                <div class="step_number">1</div> <h5>Rejseoplysninger</h5>
            </div>

            <div class="step">
                <md-toolbar layout="row" layout-align="start center" ng-show="!ctrl.is_persons_selected">
                    <md-button class="md-fab md-mini">
                        <md-icon class="material-icons">arrow_downward</md-icon>
                    </md-button> <span translate="enter_travel_information">Angiv rejseoplysninger</span>
                </md-toolbar>
                <div ng-include="'/Content/angular/home/left_side/_travel_info.html'">

                </div>
            </div>

            <div class="selected_step" layout="row" layout-align="start center" ng-show="ctrl.selected_ticket_type">
                <div class="step_number">2</div> <h5 translate="Ticket_type">Billettype</h5>
            </div>
            <div class="step" ng-show="ctrl.is_persons_selected">
                <div layout="row" ng-show="ctrl.selected_ticket_type" layout-align="start center">
                    <div class="selected_step_box simple_box" layout="row" layout-align="start center" flex="90">
                        <div>
                            <md-icon>check_circle</md-icon>
                            {{ctrl.get_language(ctrl.selected_ticket_type)}}

                            {{ ctrl.selected_ticket_type.type == 'evening' ? ctrl.first_tour.selected_arrival_harbor.name : ''}}
                        </div>
                    </div>
                    <md-whiteframe flex="10" layout-align="center center" layout="row">
                        <md-icon ng-click="ctrl.close_selected_ticket_type()">highlight_off</md-icon>
                        <md-tooltip md-direction="top">{{'Select_another_ticket_type'|translate}}</md-tooltip>
                    </md-whiteframe>
                </div>
                <div ng-include="'/Content/angular/home/left_side/_select_ticket_type.html'"></div>
            </div>

            <div ng-hide="ctrl.selected_ticket_type.type == 'nonstop' || ctrl.selected_ticket_type.type == 'evening' ||!ctrl.first_tour.selected_arrival_harbor">
                <div class="selected_step" layout="row" layout-align="start center" ng-show="ctrl.selected_ticket_type">
                    <div class="step_number">3</div> <h5>Destination</h5>
                </div>

                <div layout="row" ng-show="ctrl.selected_ticket_type" layout-align="start center" class="step">
                    <div class="selected_step_box simple_box" layout="row" layout-align="start center" flex="90">
                        <div><md-icon>directions</md-icon> {{ctrl.first_tour.selected_departure_harbor.name}} <i class="material-icons">redo</i> {{ctrl.first_tour.selected_arrival_harbor.name}}</div>
                    </div>
                    <md-whiteframe flex="10" layout-align="center center" layout="row">
                        <md-icon ng-click="ctrl.close_selected_arrival_harbor()">highlight_off</md-icon>
                        <md-tooltip md-direction="top">{{'Select_another_destination'|translate}}</md-tooltip>
                    </md-whiteframe>

                </div>
            </div>


            <div class="step" ng-show="ctrl.selected_ticket_type">
                <div layout="row">
                    <md-toolbar layout="row" layout-align="start center" ng-hide="ctrl.first_tour.selected_arrival_harbor">
                        <md-button class="md-fab md-mini">
                            <md-icon class="material-icons">arrow_downward</md-icon>
                        </md-button> {{'Select_destination' |translate}}
                    </md-toolbar>
                </div>

                <div ng-show="ctrl.selected_ticket_type" ng-include="'/Content/angular/home/left_side/_select_destination.html'"></div>
            </div>

            <div class="step departures_select" ng-show="ctrl.first_tour.selected_arrival_harbor">
                <div ng-include="'/Content/angular/home/left_side/_select_departures.html'"></div>
            </div>
    </div>
</md-content>






