﻿$font-stack:    Georgia, garamond;
$body_font_size: 14px;
$primary-color: #000;
$padding-top: 0;

$west_side_width: 575px; /* 450px*/

$shadow_div_width: 567px; 


$unit_type_input_width: 152px;
$hjejlen_blue: #0A2996;

$hjejlen_green: #0a7e77;

$hjejlen_light_green: #cee5e4;
$hjejlen_dark_brown: #7c5638;

$xxbrown_border: 'border: 1px #7c5638 solid !important';
$brown_border: none;

$xxdepature_list_border: 'border: 1px #7c5638 solid !important';
$depature_list_border: none;



/* Jquery datepicker */
$csob-calendar-day-bgcolor-selected: 'red';
$csob-brand-bgcolor: 'blue';
 $csob-calendar-font-family:  Georgia, garamond;
 $csob-calendar-day-bgcolor-selected: 'yellow';





 .info_window {
      font-family: $font-stack;
      color: $hjejlen_dark_brown;
 }


/* datepicker */

 .ui-datepicker-unselectable.ui-state-disabled {
    opacity: .2 !important;
    filter: Alpha(Opacity=0.2) !important;
    background-image: none;
}

.unittypes .sub_btn { color: #888888 !important;}

.md-icon.add_btn {
    color: $hjejlen_blue;
}


.nr_of_pers {color: $hjejlen_dark_brown;}
md-input-container {
 
    padding: 8px;
    /*margin: 8px 0;*/
 
}



.md-button {
    text-transform: none;
}
.ui-datepicker-unselectable .ui-state-disabled {display: none;}

.ui-widget {
    font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 1.0em;
}


.select_departures .md-button {
    color: $hjejlen_blue !important;
}

.md-button.md-hjejlen-theme.md-primary.md-fab, .md-button.md-hjejlen-theme.md-primary.md-raised {
    color: rgb(255,255,255) !important;
 }


.select_destination_label {
    color: $hjejlen_dark_brown;
}

.md-subheader.md-hjejlen-theme {
    color: $hjejlen_dark_brown;
}


md-radio-button:not([disabled]) .md-label  {
    color: $hjejlen_blue;
}


.departures_subheader {margin-left: 0px !important;color:#b09a88 !important; font-size: 12px !important;}

.select_departures_label {color:#b09a88 !important; font-size: 12px !important; margin: 5px 10px;}

.depature_list {
    border-bottom: $depature_list_border;
    min-height: 30px;
    color: $hjejlen_blue;
    height: 37px;
}

.left_sidenav .md-button.md-fab.md-mini {
    line-height: 34px;
    width: 34px;
    height: 34px;
    min-height: 34px;

}


md-toolbar.md-hjejlen-theme {
    height: 48px;
      min-height: 48px;
}

.selected_step_box {
    color: $hjejlen_green !important;
    background: $hjejlen_light_green !important;
    height: 48px;
 
 }

.simple_box {
       padding: 12px 24px;
}
.selected_step_box  md-icon {
    color: $hjejlen_green !important;
}


md-tabs.md-hjejlen-theme .md-tab{
    color:  $hjejlen_green;
}

.step_number {
    color: white;
    background-color: $hjejlen_blue;
    width: 22px;
    height: 22px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}



.md-tab {    text-transform: none;}

body {
    font-family: $font-stack
}


.selected_step {margin: 0px 15px;padding: 0px; color: $hjejlen_blue;}

.selected_step h5 {margin-top: 9px; font-weight:600}

.step {
     padding: 0px;
     
     background-color: white;
     margin: 0px 15px 16px;
}

.step_border {
     
     border: $brown_border;
     background-color: white;
     color: $hjejlen_blue !important;
}

.title_header {
    font-weight: 800;font-size: 1.4em;color: $hjejlen_blue /*$hjejlen_blue*/;padding-top:8px;margin:0;position:absolute;top:0px;left:150px;
}

.cs-date-picker {
    width: 100% !important;min-width:100%;padding-right:2px;
}


#west_side {
    margin: 10px 0 0 0;
    padding:0;
    
}

.top_shadow_div  {display: none;}

.shadow_div {
    position: absolute;
    left: $shadow_div_width;
    width: 7px;
    top: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 4px 0 6px 0 rgba(0,0,0,.16);
}
.xunit_type_input {width: $unit_type_input_width !important; }
.west_side {
    width: $west_side_width;
    font-size: $body_font_size;   
}

#inc_west_side {
       margin-top: 70px; 
    margin-bottom:70px;
    
}
.md-calendar-date-disabled {
     color: hotpink !important;
     text-decoration: line-through;
}
body {
display: flex;
 flex-direction: column;
  color: $primary-color;
}

h1 {
    color: $primary-color;
}

h3 {
    color: $primary-color;
}

h4 {
    color: $primary-color;
    }

md-button, .drop_shadow {
        -webkit-box-shadow: 16px 0px 31px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 0px 31px -20px rgba(0,0,0,0.75);
    box-shadow: 16px 0px 31px -20px rgba(0,0,0,0.75);    
}

.left_sidenav {
    padding-top: $padding-top;
    /*z-index: 2;*/

}
.map_content {padding: 0;}
#map_canvas {
   

    /*height: calc(100vh - 4em - 64px);*/ 

    position:relative;
    height: 100%;
    width: 100%;    
    min-height:700px !important;
   
}


.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


 .hidden {display: none;}
 

li {
    opacity: 1;
}
li.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
li.ng-enter-active {
    opacity: 1;
}


.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.red {color: red;}

 .right {float: right;}

 .orange {
     background-color:orangered; 
     color: white; 
     border-radius: 50%;
 }

 
.route-icon  {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 16px !important;
    width: 16px !important;
    min-height: 14px !important;
    min-width: 14px !important;
    color: white !important; 
    background: orangered;border-radius: 50%;font-size:14px;line-height: 14px;
    line-height: 16px;
    padding-left: 1px;
    margin-left: 3px;
    text-align: center;
    font-size: 12px;
}

.marker_dot .mcont {position: relative;height:200px; background: white;color: $hjejlen_blue;box-shadow: 0px 2px 6px rgba(0,0,0,0.3);  padding: 5px 12px;
    border-radius: 2px;display: none;}

.marker_blue {
        font-size: 12px;
        background: transparent;
        padding: 5px 10px;
        font-family: verdana, sans-serif;        
        color: #FFF;
        height: 53px;

 }
.marker_blue .mcont {position: relative;height:20px; background: $hjejlen_blue;color: #fff;box-shadow: 0px 2px 6px rgba(0,0,0,0.3);  padding: 5px 12px;
    border-radius: 2px;}





         
.marker_green {
    font-size: 12px;
    background: transparent;
    padding: 5px 10px;
    font-family: verdana, sans-serif;     
    color: #FFF;
    height: 53px;

    
    
}       

.marker_green .mcont {position: relative;height:200px; background: white;color: $hjejlen_blue;box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
                        padding: 5px 12px;
                        border-radius: 2px;
                        border: 1px $hjejlen_blue solid;
                        
}



.marker_gray {
    font-size: 12px;
    background: transparent;
    padding: 5px 10px;
    font-family: verdana, sans-serif;
    
    
    color: #FFF;
    height: 53px;
    
}

.marker_gray .mcont {position: relative;height:200px; background: #888888;color: #fff;box-shadow: 0px 2px 6px rgba(0,0,0,0.3);  padding: 5px 12px;
    border-radius: 2px;}


.mcont {position: relative;height:100px; background: red;color: green;box-shadow: 3px 3px 2px #888888;padding: 4px;}



.label_status{
    font-size: 12px; 
    color: white;
    padding:0 0 3px 0;
    text-align: left;
    display: block;
    margin:0 0 1px 0;
    min-height: 22px;
   

}
.label_status  .material-icons{font-size: 12px; color: white;background-color: orangered;border-radius: 50%;padding:2px 2px;margin: 1px; vertical-align: middle; }
#map_canvas > span.label_status > i.material-icons { margin-top: 5px 0 0 0;}
.flag {
    /*float: left;*/
    margin: 1px !important;

}

.right_flag {
    float: right;
    margin: 1px !important;

}
.tal  {
    background-color: orangered; 
    font-size: 12px; 
    color: white; 
    padding:1px 4px 3px !important;
    width:100%;
    border-radius: 50%; 
    box-shadow: none;    
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 16px !important;
    width: 16px !important;
    min-height: 14px !important;
    min-width: 14px !important;
    color: white !important; 
    background: orangered;
    border-radius: 50%;
    font-size: 12px;
    line-height: 14px;
    line-height: 16px;
    padding-left: 1px;    
    text-align: center;    
    margin: 1px auto 1px 1px;
}

.cs_logo {
    position: relative; height: 40px;top:0;left:0;margin:0;
}



.logo_left {
    position: absolute;
    height: 68px;
    top: -14px;
    left: 13px;
    margin: 0;
}


.unittypes {
    padding-top: 8px;
}
.unittypes .md-button.md-icon-button {
   margin: 0 -10px;    
   border-radius: 0;
   color: cornflowerblue !important;
   padding: 0px;     
}



.tours {
    margin: 0;
}


.tour { background-color: #fff;    padding-top: 6px; 
        margin: 0 15px;
}

.tours_note { margin: 0 15px 7px;font-size: 12px;padding-top:4px;min-height: 22px; box-sizing: border-box;}
.tours_note span{ color: orange;}

.select_tour_header {    
    margin-top: 15px;
    margin-bottom: 5px;    
    font-size: 12px;
    
}

.unit-type { margin-left:  5px;/* 25px; */}
.grayed {color:#888 ;}
.border {border: 1px black solid;}

/*#west_side > form > div.ng-scope > div > div.layout-align-start-center.layout-row.flex-50 > md-input-container > md-datepicker > button {left: -13px;}*/


.md-datepicker-button {margin-left: -10px !important;font-size: 12px;    margin-top: -12px; top: 7.5px;position: absolute;}






.md-datepicker-triangle-button.md-button.md-icon-button {
    height: 27px;
    width: 1px;
    position: absolute;
    padding: 3px;
    /*left: 192px;*/
    right: 20px;
}



.md-datepicker-input { 
    max-width: 190px;
}

.md-input-has-value md-select-value {
    max-width: 190px;
}


#west_side  .md-icon-button+.md-datepicker-input-container {
 /*
     margin-left: 34px;
    width: 136%;

       margin-left: -10px;
    width: 108%;
    */
}

#west_side .md-datepicker-calendar-icon {
    height: 20px;
    width: 24px;
    min-height: 11px;
    min-width: 24px;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-button {
    float: left;
    margin-top: -12px;
    top: 7.5px;
}
.access_time .material-icons {font-size: 20px;}

#west_side md-datepicker-input {
    font-size: $body_font_size;
    min-width: 91px;
}

.md-datepicker-input {
 font-size: $body_font_size;
 min-width: 91px;
 }
.start_time { color: #0094ff;font-weight: 500;}

md-option md-option:disabled  .start_time { color: #999 !important;font-weight: 500;}

.select_harbor_input {padding-left: 8px;}
.small_logo {position: absolute; font-size: 9px; color: #888; width: $west_side_width; text-align: center;}
.small_logo img {width: 80px;}
.not_available { color: red; font-weight:700;}

.mob_only {display: none;}


 #bottom_left {
    position: absolute; 
    bottom: 38px;
    left:0;
}




.unittypes input[type=number]::-webkit-inner-spin-button, 
.unittypes input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.unittypes input[type=number] {
    -moz-appearance:textfield;
}


.customer_type_item {
    min-width: 270px;
} 





.t {
  transition: all linear 0.5s;
  height: 100% !important;
}
.t.ng-hide {
  opacity: 0;
  height: 0 !important;
}



.sample-show-hide {
  transition: all linear 0.5s;
  
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.sample-show-hide.ng-hide {
  
  background-color: transparent;
  top:-500px;
  
}



.sample-show-hide-left {
  transition: all linear 0.5s;
  transition-delay: 0.5s;
  
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.sample-show-hide-left.ng-hide {
  
  background-color: transparent;
  left:-705px;
  
}

.md-datepicker-calendar-pane{
z-index: 1200}





@media only screen and (max-width: 800px) {

    
    .title_header {
    font-size: 1.1em;top:0px;
        
         
    }

    .step {
    padding: 0;
    margin: 0 0px 16px;
}

    .shadow_div {display: none;}
    .west_side {
        width: 97%; 

    }
    
    .unit_type_input {
        width: 70% !important;
    }
    .unit-type {
        margin-left: 5px;
    }

    .flex-50 {
        max-width: 100%;

    }

   .desktop_only {display: none;}
   .small_logo {width: 96%; position:absolute; right:0;bottom:auto;}  
    .mob_only {display: block;}
    #xbottom_left {position: relative;width: 100%; display:none;}

    #bottom_left {
        position: absolute;
        bottom: 3px;
        left: 0;
        background: white;
    }
    .small_logo {display: none;}

    #inc_west_side {margin-bottom: 0;padding-bottom: 35px;}

    
    #west_side {height: 100%;}

    .top_shadow_div {
        display: block;
        position: absolute;
        left: 0px;
        width: 100%;
        top: 65px;    
        z-index: 100;
        box-shadow: 4px 4px 6px 0 rgba(0,0,0,.16);
        height: 7px;
    }
}

@media only screen and (max-width: 410px) {
     .title_header { display: none; }

      /* iphone hack */
  .layout-fill {
    margin: 0 !important;
    width: 100% !important;
    min-height: 100% !important;
    height: auto;
    }



}



.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-header {
    border: none;
    background: none;
    color: #7C5638;
    font-weight: normal;
    font-family: Georgia;
}

.ui-datepicker th {
    padding: .7em .3em .3em .3em;
    text-align: center;
    font-weight: normal;
    border: 0;
    color: #B09A88;
    font-family: Georgia;
    font-size: 12px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .4em;
    text-align: center;
    text-decoration: none;
    color: #0A2996;
    border: none;
    background: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
    color: #0A2996;
    background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    font-weight: normal;
    color: #0A2996;
    border: none;
    background: none;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
    border: none;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
    border: 1px solid #d9d9d9;
}

.ui-state-hover, .ui-widget-content .ui-state-hover{
    border: none;
    background: none;
    color: #9A2996;
}

.ui-datepicker-multi .ui-datepicker-buttonpane{
    display: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}

