﻿<!--select_departure_harbor-->
<div>
    <div class="tours_note" ng-bind-html="tour.get_tour_note() | rawHtml"></div>
    <div style="margin-left: 15px;" ><b> <md-icon ng-click="ctrl.persons_selected(false)">today</md-icon> <label translate="Departure_date"></label> <span>{{ctrl.datepickerStartDate | date:'dd-MM-yyyy'}}</span></b></div>
    <div class="tour">
        <div layout="row">
            <div layout="row" flex="50" layout-align="center center">
                <div layout="row" flex="10">
                    <div ng-show="$first">
                        <md-icon class="orange route-icon" ng-bind="'home'"></md-icon>
                    </div>
                    <div ng-show="!$first">
                        <div class="orange route-icon">{{$index }}</div>
                    </div>
                </div>
                <md-input-container flex="90" class="select_harbor_input">
                    <label>{{'from' |translate}}</label>
                    <md-select placeholder="{{'from' |translate}}" ng-model="tour.selected_departure_harbor" ng-change="tour.select_departure_harbor(tour.selected_departure_harbor)" ng-disabled="!tour.enable_select_departure_harbor">
                        <md-option ng-disabled="true"><em translate="Select_harbour">Vælg havn</em></md-option>
                        <md-option ng-repeat="item in tour.departure_harbors" ng-value="item">
                            {{item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" flex="50" layout-align="center center">
                <!--select_arrival_harbor-->
                <div flex="4" ng-show="$last">
                    <md-icon class="orange route-icon" ng-bind="'flag'"></md-icon>
                </div>
                <div flex="4" ng-show="!$last">
                    <div class="orange route-icon" style="">{{$index + 1 }}</div>
                </div>
                <md-input-container flex="90" class="select_harbor_input">
                    <label>{{'to' |translate}}</label>
                    <md-select placeholder="{{'to' |translate}}" ng-model="tour.selected_arrival_harbor" ng-disabled="!tour.selected_departure_harbor  || !tour.enable_select_departure_harbor" ng-change="tour.select_arrival_harbor()">
                        <md-option ng-disabled="true"><em translate="Select_harbour">Vælg havn</em></md-option>
                        <md-option ng-repeat="item in tour.arrival_harbors" ng-value="item">
                            {{item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <div layout="row" ng-show="tour.selected_arrival_harbor && tour.enable_select_departure_date">
            
            
            <div layout="row" layout-align="start center" flex="50">
                <md-icon class="access_time" flex="4" ng-bind="'access_time'"></md-icon>
                <md-input-container flex="90">

                    <md-select ng-model="tour.selected_departure" ng-change="tour.select_departure(tour.selected_departure)" placeholder="{{'hh_mm'|translate}}" required id="myselect" ng-attr-id="{{'ds_'+ tour.index}}" ng-disabled="!tour.departure_date">
                        <md-option ng-disabled="true"><em ng-class="tour.selected_departures.length == 0 ? 'not_available': ''"> {{ tour.selected_departures.length == 0 ? ctrl.t("No_vacant_departures"): ctrl.t("Available_departure")}}</em></md-option>
                        <md-option ng-repeat="item in tour.selected_departures" ng-value="item" ng-disabled="(!tour.in_time(item)) ||item.Udsolgt == true || item.Locked == true || ctrl.number_of_persons + item.SumPersons > item.MaxPers || (ctrl.selected_unit_type.number_of_items ? item.SumNumberBikes + ctrl.selected_unit_type.number_of_items > item.max_number_of_bikes : false)">
                            <span ng-class="!tour.in_time(item) ? 'start_time_dis':'start_time'">{{item.DatoTid | date:' HH:mm' }}</span>
                            ({{item.sejltid}} min.)
                            {{item.ferry_name}}
                            ({{ctrl.number_of_persons + item.SumPersons}}/{{item.MaxPers}})
                            <span class="md-warn" ng-show="ctrl.number_of_persons + item.SumPersons > item.MaxPers" translate="To_many_people">For mange personer!</span>
                            <span class="md-warn" ng-show="ctrl.selected_unit_type.number_of_items ? item.SumNumberBikes + ctrl.selected_unit_type.number_of_items > item.max_number_of_bikes : false ">
                                <br /><span translate="To_many_bikes">Der er ikke nok ledige pladser til cykler!</span>
                                {{item.SumNumberBikes}} + {{ctrl.selected_unit_type.number_of_items }} <span translate="of">af</span> {{item.max_number_of_bikes}}
                            </span>
                            <span ng-show="item.Locked">
                                <md-icon class="md-warn material-icons md-light md-18" ng-bind="'lock'">lock</md-icon>
                                <span translate="Locked">Låst</span>
                            </span>
                            <span ng-show="item.Udsolgt">
                                <md-icon class="md-warn md-mini" ng-bind="'block'"></md-icon>
                                <span translate="Sold_out">Udsolgt</span>
                            </span>
                        </md-option>
                    </md-select>
                </md-input-container>
                <pre style="position:absolute;z-index: 10000;background:white;right:0;display:none;">
                        {{tour.selected_departures|json}}
                    </pre>
            </div>
        </div>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-show="tour.loading_departures"></md-progress-linear>
</div>
