﻿<md-dialog aria-label="site info" flex="80" style="height:90%;" >
    <form ng-cloak name="myForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Setting</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ng-cloak>            
            <md-input-container md-block>
                <textarea ui-codemirror rows="40" cols="10" name="value" style="width: 100%;height:300px;" ui-refresh='refreshCodemirror' ui-codemirror-opts="editorOptions" ng-model="ctrl.value"  md-select-on-focus></textarea>

            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Close
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.save(ctrl.value)" ng-disabled="!myForm.$valid">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>