﻿

md-toast.md-success-toast-theme .md-toast-content {
  background-color: green;
}


#content input.ng-dirty {background-color: pink !important;}


.cs-sidenav {min-height: 600px !important;}

.red {color: red;}
.bold {font-weight: 800;}
.green {color: green !important;}
md-tooltip .md-content {
    height: auto;
    max-width: 400px;
}

.md-small {font-size: 11px !important; text-transform: initial !important;padding: 2px 4px !important; }
.icons_left  {
    position: absolute;
    left: 10px;
    top: 5px;
} 
.sort_table th{
    white-space: nowrap;text-transform: uppercase;font-weight: 700;letter-spacing: .01em;line-height: initial;padding: 0;margin:0;vertical-align: middle !important;
}

 .sort_table  thead tr {background-color: cornflowerblue}


.online .md-button, .online .md-button:focus ,
.overview .md-button, .overview .md-button:focus {
    /* outline: none; */
    padding: 0;
    margin: 0;

    min-height: 24px;
    min-width: 60px;
    line-height: 24px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.vertical-align-middle { 
    vertical-align: middle; 
}

.padding-bottom-3 {
    padding-bottom: 3px;
}


.yellow{color: yellow;}
.green {color:green;}
.red {color: red;}
.orange {color: orange;}

.cell_align td{vertical-align: middle !important;}

.cell_align .md-button {margin: 0;padding: 0;    min-height: 29px;line-height: initial;}

.md-mini {
      line-height: 2rem;
      width: 2rem;
      height: 2rem;
      font-size: 9px;
}

/* Add animation */
.my-repeat-animation.ng-enter.ng-enter-active, 
.my-repeat-animation.ng-leave {
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

/* Remove animation */
.my-repeat-animation.ng-leave.ng-leave-active, 
.my-repeat-animation.ng-enter {
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}



li {
    opacity: 1;
}
li.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
li.ng-enter-active {
    opacity: 1;
}


.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.red {color: red;}

 .right {float: right;}

 .orange {
     background-color:orangered; 
     color: white; 
     border-radius: 50%;

 }

 
  .route-icon  {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 16px !important;
    width: 16px !important;
    min-height: 14px !important;
    min-width: 14px !important;
}